<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Goals Intructions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="goalMinder">GoalMinder</h1>
  <div class="notebook-container">
  <img src="../../assets/notepad.jpg" alt="Notebook Image">
</div>
<div class="goals-text">
  <div class="rounded-box">
    <p>Your goals are important,<br> and this page is dedicated to helping you achieve them.<br> Write them down and take the first step towards success!</p>
  </div>    
</div>
<ion-button id="next" [routerLink]="['/goals']" expand="block" shape="round" color="danger">Got it!</ion-button>

</ion-content>
