<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Activity List</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content class="activityList">
  <h1 class="goalMinder">GoalMinder</h1>
  <h4>Please select the hobbies to implement:</h4>
  <div class="hobby-buttons">
    <!-- Loop through the hobbies array and display each hobby as a button -->
    <ion-button class="hobby-button" *ngFor="let hobby of hobbies" [ngClass]="{'selected': selectedHobbies[hobby]}" (click)="selectedHobbies[hobby] = !selectedHobbies[hobby]; updateSelectionCount($event)">
      {{ hobby }}
    </ion-button>
  </div>
  <!-- Show a message if no hobby is selected -->
  <p *ngIf="selectionCount === 0">Please select at least one hobby.</p>
  <!-- Show a message if more than 3 hobbies are selected -->
  <p *ngIf="selectionCount > 3">You can only select up to 3 hobbies.</p>
  <div *ngIf="selectionCount <= 3">
    <!-- Display the number of selected hobbies out of 3 -->
    <p>Selected hobbies: {{ selectionCount }}/3</p>
    <!-- Enable the Next button only if at least one hobby is selected -->
    <ion-button class="nextBtn" [disabled]="selectionCount === 0" (click)="saveSelections(); navigateToInstructionsGoals()" shape="round">Next</ion-button>
  </div>
</ion-content>
