<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tips-page">
  <h1 class="GoalMinder">GoalMinder Tips</h1> <!-- Heading for the tips section -->
  <p>Having difficulties with setting goals? Here are some strong tips and advice on setting objectives!</p>

  <ul>
    <li>
      <strong>1. SIMPLE:</strong> To make progress and have fun, start with a template you understand. If it's confusing, you won't use it effectively. Keep it simple and clear so you can track your progress easily and make necessary adjustments.
      <img src="../../assets/simple.PNG" alt="Tip 1 Image"> <!--Imge for Tip 1  -->
    </li>

    <li>  
      <strong>2. HAVE A TIMEFRAME:</strong> Set a timeframe for your goals to stay focused and determined. Long-term goals are great, but without a deadline, you may lack direction and motivation to achieve them.
          <img src="../../assets/timeframe.png" alt="Tip 2 Image">  <!--Image for Tip 2 -->
    </li>

    <li>
      <strong>3. SHOW WHEN YOU ARE WINNING:</strong> Celebrate your progress to stay motivated! A goal-setting template should clearly display how far you've come and where you currently stand. Seeing your achievements and getting closer to your destination can be the extra push you need to reach your ultimate goal.
       <img src="../../assets/winning.PNG" alt="Tip 4 Image" class="tip-image">  <!-- Image for Tip 4 -->
    </li>

    <li>
      <strong>4. SHOW YOU WHY YOU ARE DOING WHAT YOU ARE DOING:</strong> Keep your motivation high with a goal template that includes space for your why. Knowing the purpose behind your end goal is crucial. It's not just about where you want to be; it's about why you're heading there. Displaying your clear purpose will constantly remind you of the importance of your hard work and the ultimate reward waiting for you at the finish line. 
      <img src="../../assets/thinkingcat.jpg" alt="Tip 5 Image" class="tip-image"> <!--Image for Tip 5 -->
    </li>

    <li>
      <strong>5. GIVE YOU SPACE TO SAY WHAT YOU NEED TO DO:</strong> Finally, a template should have exactly what you need to do to reach those goals. That way, you can make sure that you follow your instructions and do everything you know that you need to do. You may also need to have space to change things as, along the way, you are likely to see things that are not working out that well for you and the things that are going to work out for you in the future.
      <img src="../../assets/space.png" alt="Tip 6 Image" class="tip-image"> <!--Image for Tip 6 -->
    </li>
  </ul>
 
</ion-content>
