<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info-container">
    <img src="../../assets/goalIcon.png" alt="goal icon" class="info-icon-left">
    <div class="info-text">
      <p><span>Goals:</span> Set your goals</p>
    </div>
  </div>

  <div class="info-container">
    <img src="../../assets/activities.PNG" alt="activities icon" class="info-icon">
    <div class="info-text">
      <p><span>Activities:</span> Choose Hobbies</p>
    </div>
  </div>

  <div class="info-container">
    <img src="../../assets/report.png" alt="report icon" class="info-icon">
    <div class="info-text">
      <p><span>Reports:</span> Give feedback or report any issues</p>
    </div>
  </div>

  <div class="info-container">
    <img src="../../assets/settings.png" alt="settings icon" class="info-icon">
    <div class="info-text">
      <p><span>Settings:</span> Customize your app settings</p>
    </div>
  </div>

  <div class="info-container">
    <img src="../../assets/notification.png" alt="notification icon" class="info-icon">
    <div class="info-text">
      <p><span>Notification:</span> Press this button for motivational quotes!</p>
    </div>
  </div>

  <div class="info-container tips-icon-container">
    <img src="../../assets/tips.png" alt="tips icon" class="info-icon">
    <div class="info-text">
      <p><span>Tips:</span> Press this button for tips and advice!</p>
    </div>
  </div> 

</ion-content>