.center-title {
  text-align: center;
}

.loginForm {
  --background: linear-gradient(#f56bd1, #321f8e);
  font-size: 1.125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: black;
  font-family: 'Bubblegum Sans', cursive;
  position: relative;
}

.title {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.125em 0.125em 0.25 rgba(0, 0, 0, 0.5);
  z-index: -3;
}

.loginWrapper {
  background-color: white;
  border-radius: 1.25em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.1);
  max-width: 18.75em;
  max-height: 15em;
  width: 84%;
  font-family: 'Bubblegum Sans', cursive;
  position: absolute;
  top: 28.5%;
  left: 8%;
  z-index: -2;
}

.loginForm img {
  width: 125em;
  position: absolute;
  top: -0.9em;
  left: 0;
  z-index: 2;
}

.input-field {
  --background: #fa86dd;
  --box-shadow: 0.313em 0.313em 0.063em rgba(129, 69, 160, 0.8);
  --color: black;
  --placeholder-color: black;
  font-family: 'Bubblegum Sans', cursive;
  margin-bottom: 1.25em;
  border-radius: 3.125em;
  box-shadow: var(--box-shadow);
}


.signin-btn {
  --background: purple;
  --box-shadow: 0.313em 0.313em 0.063em rgba(129, 69, 160, 0.8);
  --color: white;
  font-family: 'Bubblegum Sans', cursive;
  margin-top: 1.25em;
  border-radius: 3.125em;
}

.info-icon {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  font-size: 3em;
}
