.center-title {
  text-align: center;
}

ion-content.goals-page {
  --background: linear-gradient(#f56bd1, #321f8e);
}

.notepad-container {
  width: 100%;
  overflow-y: auto;
  background: linear-gradient(#f56bd1, #321f8e);
  padding-top: 70px;
}

.goalMinder{
  font-family: 'Bubblegum Sans', cursive;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.125em 0.125em 0.25 rgba(0, 0, 0, 0.5);
  z-index: -3;
  top: 1em;
}

.notepad-content {
  margin: 2em;
  margin-top: -3.3em;
  min-height: 18.75em;
  max-height: 12.5em; 
  border: 0.625em solid purple;
  border-style: dashed double;
  padding: 0.313em;
  color: var(--ion-color-base);
  line-height: 1.5;
  background-color: rgb(207, 178, 10);
  outline: none;
  color: black;
  font-family: 'Calligraffitti', cursive;
  font-size: 1.25em;
  overflow-y: scroll; 
}

img{
  width: 8em;
  position: relative;
  z-index: 1;
  margin-left: 7em;
}

.tips-icon {
  font-size: 2em;
  margin: 0 auto;
  display: block;
  margin-top: -0.5em;
}

ion-button {
  margin-top: 0m;
  font-family: 'Bubblegum Sans', cursive;
  --background: purple;
}

ion-button:hover {
  --background: rgb(211, 95, 226);
}


